name: First Workflow
on: workflow_dispatch
jobs:
  first-job: 
    runs-on: ubuntu-latest
    steps:
      - name: Print greeting
        run: echo "Hello - my first GitHub Action"
      - name: Print Goodbye
        run: echo "Done - Bye!"
